body{

	height: 100%;
	margin: 0 auto;
	background-image: $backgroundHead !important;
		font-family:'Montserrat',sans-serif;
}
 html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

.container{
	width: 100%;
	
}
img{
	width:100%;
}