.textKiev {
  font-family: 'Raleway', sans-serif;
  padding: 1em 2em;
  font-size: 18px;
  font-family: $fontfamilyintroInline;
  text-align:center;
  overflow:hidden;
  @media(max-width:800px){
    font-size:0.7em;

  }
  @media(max-width:600px){
  	font-size:10px;

  }
}

.textKiev h1,
.textKiev h2 {

  font-weight: 200;
  margin: 0.1em 0;
}
.textKiev h1 { font-size: 3.5em; }
.textKiev h2 {
  color: $colorgreen;
  

}