.content {
    width: 80%;
    margin: 0 auto;
    @media(max-width:600px){
        width:100%;
    }
}

.blog-content {
    height: 100%;

    position: relative;
    padding: 20px;

    h3 {
        padding: 5px 0 5px 0px;
        font-size: 35px;
        text-transform: uppercase;
        font-family: $fontfamilyradioBold;
        border-left: 30px solid $colorH;
        border-bottom: 2px solid $colorH;
        transition:all 1s;
        @include _fonts;
        a {
            font-weight: 500;
            color: #000;
            font-family: $fontfamilyradio;
            padding-left: 10px;
            transition:all 0.5s;
        }
        &:hover {
            border-left: 30px solid $colorgreen;
            border-bottom: 2px solid $colorgreen;
        }
        &:hover a {
            color: $colorgreen;
        }
    }
    h4 {
        padding: 10px 0 10px 0px;
        a {
            font-family: $fontfamilyradio;
        }
    }
    p {
        padding: 10px 0 10px 0px;
        font-size: 14px;
        font-family: $fontfamilyWroboto;
        font-weight: 500;
        word-spacing: 1px;
        line-height: 1.3;
    }
    a {
        color: #000;
    }
    .more {
        float: right;
        padding: 0px 5px 10px 11px;
        border-bottom: 1px solid $colorH;
        border-right: 10px solid $colorH;
        margin: 0 10px 10px 0;
        font-family: $fontfamilyradioBold;
        transition:all 0.5s;

        &:hover {
            color: $colorgreen;
            border-bottom: 1px solid $colorgreen;
            border-right: 10px solid $colorgreen;
        }
    }
    .flex-container {
        display: flex;
        padding-top: 2%;
        position: relative;
        .social-logo-icon {
            @include _iconGroup;
            i {
                border: 2px solid $colorH;
                font-size: 1.5em;
                width: 30px;
                text-align: center;
                padding: 5px;
                margin-bottom: 4px;
                color: $colorH;
                transition:all 0.5s;
                &:hover {
                    border: 2px solid $colorgreen;
                    color: $colorgreen;
                    &:hover{
        			font-size:1.8em;
        }
                }
            }
        }
    }
    
    .blog-content-news {
        padding: 5%;
        margin: 10px;
        transition:all 1s;
          flex: 1 1 250px;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
        .grid{
            padding:0;
        }
        figure {
            width: 100%;
            figcaption {

                display: block;
                background: rgba(0, 0, 0, 0.38);
                position: absolute;

                color: #fff;

               	font-size: 0.8em;
               	text-transform:uppercase;
               	text-shadow: 0.1em 0.1em 0.2em black; color: aliceblue;
                p{
                    position: absolute;
                    bottom: 100%;
                    padding: 1em;
                    color: #fff;
                    text-transform: none;
                    font-size: 80%;
                    -webkit-transition: opacity 0.35s;
                    transition: opacity 0.35s;
                }

               	 data{
               	 	padding-right: 10px;
               	 }
                 img {max-width: 100%; height: auto;}
             
            }
            &:hover figcaption {
                opacity: 1;
            }
        }
        &:hover{
        	transform:scale(1.025);
        }
         &:hover h3{
            border-left: 30px solid $colorgreen;
            border-bottom: 2px solid $colorgreen;
        }
        &:hover a {
            color: $colorgreen;
        }

        &:hover .social-logo-icon i {
            color: $colorgreen;
            border:2px solid $colorgreen;
        }
        &:hover .more{
            color: $colorgreen;
            border-bottom: 1px solid $colorgreen;
            border-right: 10px solid $colorgreen;
        }
    }


    .center-content-info{
    display: flex;
    flex-flow: row wrap;

    	h3{
    		font-size:1.3em;
    	}
    	.blog-content-news{
    flex: 1 1 250px;
    margin: 10px;
    border-radius: 5px;
    padding: 2%;
    display: flex;
    flex-flow: column;

    		.social-logo-icon{
    			i{
    				padding:2px;
    				width:25px;
    				font-size:1em;
    			}
    		}
    		h4{
    			a{
    				font-size:0.9em;
    			}
    		}
    		

    		figcaption{
    			font-size:0.6em;
    			data{

    			}
    		}

    		.more{
    			font-size:0.8em;
    		}
    	}


    }

    .column{
           
           .blog-content-news{

                    div{
                        margin-top:auto;
                    }
           }
        }

}
